<div class="card my-5">
  <div class="card-body">
    <h1>New post</h1>

    <%= render "form", post: @post %>

    <%= link_to "Back to posts", posts_path, class:"btn btn-light mt-2" %>
  </div>
</div>
